{% if site.category_tag_cloud %}
<section>
<h1>分類</h1>
<span class='categories_tag'> <a href='/blog/categories/blog' style='font-size: 130.0%'>Blog(1)</a>  <a href='/blog/categories/octopress' style='font-size: 130.0%'>Octopress(1)</a>  <a href='/blog/categories/php' style='font-size: 130.0%'>Php(1)</a>  <a href='/blog/categories/tumblr' style='font-size: 130.0%'>Tumblr(1)</a>  <a href='/blog/categories/tutorial' style='font-size: 130.0%'>Tutorial(1)</a>  <a href='/blog/categories/yii' style='font-size: 160.0%'>Yii(2)</a> </span>
</section>
{% endif %}
