/*
  Overwrite Grayshade theme
  Author: Aaron Huang <aar0ntw>
 */

body {
  background: #5D808B;
}

.container {
  .left-col {
    opacity: .7
  }
  .mid-col {
    box-shadow: 1px 0 15px 1px rgba(#4F6850, 1)
  }
}
